@font-face {
    font-family: 'Anthrope';
    src: url(../fontes/anthrope/Anthrope\ Personal\ Use\ Only.ttf);
}

@font-face {
    font-family: 'Nanamegoma';
    src: url(../fontes/gomarice_naname_goma.ttf);
}